#user{
  width: 110mm !important;
  border-radius: 0px;
}

.card-icon{
  margin-top: 20px;
}

.img-icon{
  width: 30px;
  height: auto;
}

.image img{
  border-radius: 0px;
}

.avatar{
  background-color: #fff;
}

.invalid{
  color: red !important;
}
