<app-template1 *ngIf="defaultTemplate == 'template1'" [templateType]="templateType" [lockTemplate]="lockTemplate"></app-template1>
<app-template2 *ngIf="defaultTemplate == 'template2'" [templateType]="templateType" [lockTemplate]="lockTemplate"></app-template2>
<app-template3 *ngIf="defaultTemplate == 'template3'" [templateType]="templateType" [lockTemplate]="lockTemplate"></app-template3>
<app-template4 *ngIf="defaultTemplate == 'template4'" [templateType]="templateType" [lockTemplate]="lockTemplate"></app-template4>
<app-template5 *ngIf="defaultTemplate == 'template5'" [templateType]="templateType" [lockTemplate]="lockTemplate"></app-template5>
<app-template6 *ngIf="defaultTemplate == 'template6'" [templateType]="templateType" [lockTemplate]="lockTemplate"></app-template6>
<app-template7 *ngIf="defaultTemplate == 'template7'" [templateType]="templateType" [lockTemplate]="lockTemplate"></app-template7>
<app-template8 *ngIf="defaultTemplate == 'template8'" [templateType]="templateType" [lockTemplate]="lockTemplate"></app-template8>
<app-template9 *ngIf="defaultTemplate == 'template9'" [templateType]="templateType" [lockTemplate]="lockTemplate"></app-template9>
