.header{
  display: flex;
  align-items: center;
}

.form{
  margin-top: 15px;
}

.roleLabel{
  font-size: 15px;
  margin-left: 10px;
}

.text{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0 50px 0;
}

.invalid{
  color: red !important;
}
