<app-view-template1 *ngIf="defaultTemplate == 'template1'" [id]="id" [cardType]="cardType"></app-view-template1>
<app-view-template2 *ngIf="defaultTemplate == 'template2'" [id]="id" [cardType]="cardType"></app-view-template2>
<app-view-template3 *ngIf="defaultTemplate == 'template3'" [id]="id" [cardType]="cardType"></app-view-template3>
<app-view-template4 *ngIf="defaultTemplate == 'template4'" [id]="id" [cardType]="cardType"></app-view-template4>
<app-view-template5 *ngIf="defaultTemplate == 'template5'" [id]="id" [cardType]="cardType"></app-view-template5>
<app-view-template6 *ngIf="defaultTemplate == 'template6'" [id]="id" [cardType]="cardType"></app-view-template6>
<app-view-template7 *ngIf="defaultTemplate == 'template7'" [id]="id" [cardType]="cardType"></app-view-template7>
<app-view-template8 *ngIf="defaultTemplate == 'template8'" [id]="id" [cardType]="cardType"></app-view-template8>
<app-view-template9 *ngIf="defaultTemplate == 'template9'" [id]="id" [cardType]="cardType"></app-view-template9>
